@font-face {
    font-family: Beyond;
    font-display: swap;
    src: url("../../assets/fonts/Uni_Sans_Thin.otf");
}

:root {
    --shade-dark: #d7d7d7;
    --shade-light: #fff;
    --primary-blue: #2196F3;
    --shade-hover-light: #2196F3;
    --shade-hover-darker: #0e5a99;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: black;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1.05rem;
    margin: 0 auto;
    text-align: center;
}

.go-back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 0;
    width: 1rem;
    height: 1rem;
    font-size: 1.5rem;
}

.go-back-link {
    border-radius: 50%;
    color: var(--shade-light);
    background-color: var(--shade-hover-light);
    padding: 0.25rem;
    margin: 1rem;
    transition: all 400ms ease-in-out;
}

.go-back-link:hover {
    color: var(--shade-hover-light);
    background-color: var(--shade-light);
}

ul {
    list-style-type: none;
}

ul, li {
    margin: 0 auto;
    padding: 0;
}

.menu__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.menu__header {
    font-family: Beyond;
}

.menu__categories {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.category__header {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

.category__product:nth-child(1) {
    margin-top: 0.5rem;
}

.category__product {
    margin: 2rem;
    padding: 1.25rem;
    text-align: left;
    border: 1px solid var(--shade-dark);
}

.category__product div {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.category__product div h4 {
    font-size: 1.20rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.product__desc {
    font-size: 0.95rem;
}

.product__price {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-blue);
    padding: 0.5rem 0 0 0.5rem;
}

.category__list--sub {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
}

.product__sub {
    text-align: left;
}

.basket__wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    margin: 1rem;
    padding: 0.10rem;
}

.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.basket__header {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.basket__categories {
    text-align: left;
}

.basket__categories li {
    margin: 1rem;
}

.basket__categories a {
    font-size: 1.15rem;
    color: #121212;
}

.basket__categories a:hover {
    text-decoration: underline;
}

.categories__basket--sticky {
    position: fixed;
}

.basket__order {
    display: flex;
    flex-flow: column;
    margin: 1rem;
}

.basket__order a{
    width: fit-content;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.12rem;
    font-weight: 600;
    background-color: #2196F3;
    color: #ffffff;
    border-radius: 5px;
    padding: 0.75rem 1.25rem;
    transition: 250ms ease-in;
}

.basket__order a:hover {
    background-color: #1476c7;
    color: #fafafa;
}

@media screen and (max-width: 768px) {
    .go-back {
        position: absolute;
        left: 0.5rem;
        width: 0.5rem;
        height: 0.5rem;
    }
    .go-back-link {
        margin: 0;
        padding: 0.125rem;
    }
    .basket__header, .basket {
        display: none;
    }
    .menu__container {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .menu__categories {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
}